* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.new-book {
    display: block;
    margin: 0 auto;
    background-color: blue;
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    width: 500px;
    gap: 10px;
    text-align: center;
    border: solid thin black;
}